$widthSite: 1520px;
$widthBanner: 1920px;

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.center {
  padding-left: calc(50% - $widthSite / 2);
  padding-right: calc(50% - $widthSite / 2);
}
.center_img {
  padding-left: calc(50% - $widthBanner/2);
  padding-right: calc(50% - $widthBanner/ 2);
}

// цвет фона кнопок
$btn_color: #19A2DC;
// цвет текста заголовков
$textColorDisplay: black;
// цвет текста параграфов
$textColorLack: black;
// контрастный цвет заголовков и параграфов
$textColorContrast: rgb(255, 255, 255);
// неактивный цвеь
$textColorNoHovere: #77878e;

